[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pynetest = {editable = true,git = "ssh://git@github.com/avvir/pyne",ref = "v0.2.0"}

[requires]
python_version = "3.6"